<strong>Olá, {{ student }}</strong>
<p>Recebemos sua dúvida e já respondemos:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Esperamos ter conseguido tirar suas dúvidas. Se ainda tem algo que possamos ajudá-lo(a), mande outra mensagem.
    É sempre um prazer responder você! :)
  </small>
</p>
